body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header styling */
.header {
    background-color: #f3e1d0;
    padding: 20px;
    text-align: center;
}
.header .logo {
    font-size: 36px;
    font-family: 'serif';
    color: #a14b3e;
}
.header .logo small {
    display: block;
    font-size: 16px;
    color: #c77768;
}
/* Navigation bar styling */
.nav {
    background-color: #e3ccb4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav .menu li {
    margin: 0 15px;
}
.nav .menu li a {
    text-decoration: none;
    color: #a14b3e;
    font-size: 16px;
}
.nav .icons {
    display: flex;
    align-items: center;
}
.nav .icons a {
    margin-left: 10px;
    font-size: 20px;
    color: #a14b3e;
    text-decoration: none;
}
.nav .search-cart {
    display: flex;
    align-items: center;
}
.nav .search-cart a {
    margin-left: 15px;
    font-size: 24px;
    color: #a14b3e;
}

p{
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
h3{
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h4{
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: normal;
   }

#jewish{

    img{
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 50px;
        width: 380px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
}